
.fifth-div-footer {

    background: #e7e7e7;
    padding-top: 60px;
    font-family: 'Iranian Sans', sans-serif;
    text-align: center;
  }


  
  @media (width < 620px) {
    footer {
      flex-direction: column;
    }
  
    footer.bottom {
      gap: 16px;
      flex-direction: column-reverse;
    }
  }
 
  
  @media (width >= 620px) {
    footer {
      margin: 0 auto;
      max-width: 600px;
      padding: 0;
    }
  }

  footer.top {
    border-bottom: 2px solid #636a74;
    padding-bottom: 20px;
  }
  
  footer.bottom {
    padding: 20px 0;
    
  }
  
  footer.top .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  
  .links > div {
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  footer h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #17263a;
  }
  
  .legal {
    font-size: 12px;
    color: #727272;
  }
  
  .legal > a {
    margin: 0 4px;
    color: #727272;
    text-decoration: none;
  }
  
  .links > a {
    margin: 0 4px;
    color: #727272;
    text-decoration: none;
  }


  .legal > span {
    margin-right: 10px;
  }
  

  
  footer.bottom .links > a {
    font-size: 24px;
    text-decoration: none;
  }
  
  @media (width < 420px) {
    footer {
      text-align: center;
      align-items: center;
    }
  
    footer.top .links {
      grid-template-columns: 1fr;
    }
  
    footer.bottom {
      align-items: center;
    }
  
    .legal > span {
      display: block;
      margin-right: 0;
      margin-bottom: 2px;
    }
  }


  .footer-logo{
    width: 3vh;
    margin: 1vh;
    height: auto;
    filter: grayscale(80%) brightness(50%);

  }

 
  