
.linkedin-img-login{
    margin-left: 31%;
    margin-top: 5%;
    height: 250px;
    width: 150px;

}
.text-align-right{
    text-align: center;
    align-items: center;
}
.span-text{
    text-align: center;
}

.text-bott{
    padding-top: 10px;
}

@media (max-width: 768px) {
.text-bott{
    margin-top: 100px;
    padding-top: 1em;
}}



.rounded{
    margin-top: -6em;
    padding-top: -6em;
}

.comt{
    margin: auto;
    font-family: 'El Messiri', sans-serif;
    background-image: url('join-bg.svg');
    background-repeat: repeat-x;
    width: 80%;
    height: 40em;
    margin-top: -5em;
  
  }

  .inside{
    padding-top: 5em;
  }